<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uos.comp6239backend.mapper.TLibraryMapper">

<!--根据读者ID展示图书馆-->
  <select id="tLibraryList" resultType="com.uos.comp6239backend.tdata.entity.TStorys">
    select ts.*,tas.author_id
    from t_story ts,t_library tl,t_users tu,t_author_story tas
    where
    reader_id = #{readerId,jdbcType=INTEGER} and
    ts.is_used=1 and tl.is_used=1 and tu.is_used=1 and
    tl.story_id = ts.story_id and tu.user_id = tl.reader_id and
    tas.story_id = tl.story_id

  </select>

  <!--根据读者ID和剧本ID和剧本作者ID展示剧本作者，阅读进度-->
  <select id="tLibraryListReaderStoryForUiState" resultType="com.uos.comp6239backend.tdata.entity.TStorysForUiState">
    select tu.username,trsh.current_progress,tu.user_id，trsh.story_id
    from t_users tu,t_reader_story_history trsh
--      t_reading_path trp,t_reading_path_item trpi,
    where
    tu.user_id = #{readerId,jdbcType=INTEGER} and trsh.story_id = #{storyId,jdbcType=INTEGER}
    and trsh.reader_id = #{readerId,jdbcType=INTEGER} and
    ts.is_used=1 and trsh.is_used=1

  </select>

<!--  收藏某个剧本-->
  <insert id="tLibraryInsert" parameterType="java.util.Map">
    insert into t_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="readerId != null">
        reader_id,
      </if>
      <if test="storyId != null">
        story_id,
      </if>
      <if test="isUsed != null">
        is_used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="readerId != null">
        #{readerId,jdbcType=INTEGER},
      </if>
      <if test="storyId != null">
        #{storyId,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null">
        #{isUsed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

<!--  取消收藏某个剧本-->
  <update id="tLibraryDel"  parameterType="java.util.Map">
    update t_library set is_used = 0
    where reader_id = #{readerId,jdbcType=INTEGER} and story_id = #{storyId,jdbcType=INTEGER}
  </update>


</mapper>
